

{{ define "main" }}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


{{ if $.Param "image" }}
<img src="{{ .Param "image" }}" class="title"/>
{{ end }}

<h1 id="project-name">{{ .Param "title" }}</h1>

{{ .Content }}

{{ if or ($.Param "videos") ($.Param "screenshots") }}
<section id="media">
<h2>Media</h2>
  <div class="media">

  {{ if $.Param "videos" }}
  {{ range $value := $.Param "videos" }}
<div style="width:100%,height:316px">
<iframe src="{{ printf "https://www.youtube.com/embed/%s" $value }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; max-height: 500px"></iframe>

</div>
  {{ end }}
  {{ end }}



  {{ if $.Param "mailchimp" }}
  <style type="text/css">
        mc_embed_shell {background:#ffff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 480px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.

           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

</style>

  <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        mc_embed_signup{background:#ffff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 480px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


	#mc_embed_signup form {
		margin: 0px;
	}
	#mc_embed_signup .helper_text {
	   background: #0000;
	   color: black;
	}

	#mc_embed_signup .asterisk {
		color: tomato;
	}
 
	#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	   background: #0000;
   	color: #CC0000;
		font-size: 16px;
	}

	#mc_embed_signup #mce-success-response {
		margin: 0px;
		color: black;
	}

	#mc_embed_signup #mce-success-response
		{

  text-shadow: 3px 3px 3px rgba(0,0,0,0.38);
		color: #ffcc00;
		padding: 0px;

	}

	#mc_embed_signup div.response {

  text-shadow: 3px 3px 3px rgba(0,0,0,0.38);
		color: #ffcc00;
		padding: 0px;
	}

</style>
<div id="mc_embed_signup">
    <form action="https://mightydevco.us5.list-manage.com/subscribe/post?u=5db49e8f6664b3b8f0bd5ed19&amp;id=13324b3475&amp;f_id=000a8ee9f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-PHONE">Phone Number </label><input type="text" name="PHONE" class="REQ_CSS" id="mce-PHONE" value=""></div><div class="mc-field-group"><label for="mce-MMERGE5">Zip Code </label><input type="zip" name="MMERGE5" class="zip" id="mce-MMERGE5" value=""><span id="mce-MMERGE5-HELPERTEXT" class="helper_text">So you'll get relevant notifications when I'm performing near you</span></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_5db49e8f6664b3b8f0bd5ed19_13324b3475" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/iQ_6m2" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MMERGE5';ftypes[5]='zip';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>


  {{ end }}

  <article id="shows">
  <h2>Upcoming Shows</h2>
  <section class="show"><a href="https://www.flapperscomedy.com/shows/lesley-wolffs-fresh-faces/72152/">Lesley Wolff's Fresh Faces</a>
	  <div class="details">
	  <div class="venue">Flappers Comedy Club And Restaurant</div>
	  <div class="city">Burbank, CA</div>
          <div class="datetime">Sunday June 30th &#64; 05:00 pm Pacific</div>
	  <div class="performance-type">5 minute performance</div>
	  </div>
  </section>

  <section class="show"><a href="https://www.showclix.com/event/deez-nuts-july5th">Deez Nutz</a>
	  <div class="details">
	  <div class="venue">The Comedy Store</div>
	  <div class="city">Hollywood, CA</div>
          <div class="datetime">Friday July 5th &#64; 07:00 pm Pacific</div>
	  <div class="performance-type">5 minute performance</div>
          	  </div>
  </section>

  </article>



  <article id="projects">
  <h2>Dead Software Projects</h2>
  <p><em>kids! don't be a software developer like I was!</em></p>
       <a href="{{"/projects/astrobattle/" | relURL }}"><img src="{{"images/astro-battle.png" | relURL }}" alt="Astro Battle"></a>
       <a href="{{"/projects/maximum-movie-mode/" | relURL }}"><img src="{{"images/maximum-movie-mode.png" | relURL }}" alt="Warner Brothers Blu-Ray Maximum Movie Mode"></a>
       <a href="{{"/projects/recert5/" | relURL }}"><img src="{{"images/recert5.png" | relURL }}" alt="Recert5"></a>
       <a href="{{"/projects/the-canary-sings/" | relURL }}"><img src="{{"images/the-canary-sings.png" | relURL }}" alt="The Canary Sings"></a>
  </article>





  {{ if $.Param "screenshots" }}
  {{ range $value := $.Param "screenshots" }}
  <img src="{{ printf "projects/%s/images/%s" $.File.TranslationBaseName $value | relURL }}"/>
  {{ end }}
  {{ end }}

  </div>
</section>

{{ end }}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" >
$(document).ready(function(){
  $('.media').slick(
   );
});
</script>

<script type="text/javascript" >
$(document).ready(function(){
  $('.screenshots').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
}
   );
});
</script>
{{ end }}
