div#vids_page{width:920px;margin:0 auto;background-color:#fff;text-align:left}div#pagecontent{width:900px;margin:0 10px;text-align:left;padding-bottom:20px}table.maxwidth{width:100%}div#layout_basic td,div#layout_doubleright td,div#layout_doubleleft td,div#layout_home td,div#layout_home2 td,div#layout_indiv td,div#layout_chan td,div#layout_success td{vertical-align:top;text-align:left}div#layout_basic td.col_1{width:170px}div#layout_basic td.col_2{width:570px;padding:0 10px}div#layout_basic td.col_3{width:160px;text-align:right}div#layout_doubleright td.col_1{width:120px}div#layout_doubleright td.col_2{width:780px;padding-left:10px}div#layout_doubleright td.col_3{width:0;text-align:right}div#layout_doubleleft td.col_1{width:0}div#layout_doubleleft td.col_2{width:740px;padding-right:10px}div#layout_doubleleft td.col_3{width:160px;text-align:right}div#layout_home td.col_1{width:350px}div#layout_home td.col_2{width:250px;padding:0 10px}div#layout_home td.col_3{width:300px;text-align:center}div#layout_home2 td.col_1{width:0}div#layout_home2 td.col_2{width:600px;padding-right:10px}div#layout_home2 td.col_3{width:300px}div#layout_indiv td.col_1{width:480px}div#layout_indiv td.col_2{width:320px;padding:0 10px}div#layout_indiv td.col_3{width:100px}div#layout_chan td.col_1{width:190px}div#layout_chan td.col_2{width:710px;padding-left:10px}div#layout_chan td.col_3{width:0}div#layout_success td.col_1{width:410px}div#layout_success td.col_2{width:490px;text-align:right;padding-left:10px}
/*
     FILE ARCHIVED ON 19:15:34 Sep 04, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:09:40 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.495
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 90.912
  LoadShardBlock: 124.78 (3)
  PetaboxLoader3.datanode: 147.219 (4)
  load_resource: 512.706
  PetaboxLoader3.resolve: 454.62
*/