/* phpBB Website Styles Index
	
   Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
   --------------------------------------------------------------
*/

@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/website.css");
@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/headers.css");
@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/navigation.css");
@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/titles.css");
@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/documentation.css");
@import url("/web/20070630145941cs_/http://www.phpbb.com/theme/silver.css");
/*
     FILE ARCHIVED ON 14:59:41 Jun 30, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:17:08 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.654
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 7.184
  LoadShardBlock: 267.06 (3)
  PetaboxLoader3.datanode: 94.424 (4)
  PetaboxLoader3.resolve: 240.375 (2)
  load_resource: 73.12
*/