body {
	font-size: 12px;
}
/*
     FILE ARCHIVED ON 14:25:39 Feb 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:11:33 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.645
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.011
  esindex: 0.012
  cdx.remote: 25.284
  LoadShardBlock: 147.404 (3)
  PetaboxLoader3.datanode: 128.673 (4)
  load_resource: 132.395
  PetaboxLoader3.resolve: 87.609
*/