body {
	font-size: 11px;
}
/*
     FILE ARCHIVED ON 14:25:48 Feb 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:11:32 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.517
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 49.6
  LoadShardBlock: 160.025 (3)
  PetaboxLoader3.datanode: 129.468 (4)
  load_resource: 26.92
*/