body {
	font-size: 10px;
}
/*
     FILE ARCHIVED ON 14:25:24 Feb 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:11:31 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.543
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 100.406
  LoadShardBlock: 120.832 (3)
  PetaboxLoader3.datanode: 80.248 (4)
  load_resource: 30.247
*/