html {
  background-color: #2196f3;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
}

em  {
  font-weight: 500;
}


img {
	max-width: 95%;
}


body{
  margin: 0px;
}


.media {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;

}


header {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
}

header > h1 {
  filter: none;
  font-size: 64px;
  font-family: 'Aldrich', sans-serif; 
  margin: 0px;
  text-align: center;
  letter-spacing: 10px;
}

header > a {
  text-decoration: none;
}

header > a > h1 {
  color: black;
  text-decoration: none;
  font-family: 'Aldrich', sans-serif; 
  font-size: 64px;
  margin: 0px;
  text-align: center;
  letter-spacing: 10px;
}


header > p {
  margin: 0px;
}

header > div > p {
  margin: 0px;
  font-size: small;
}

header > h2 {
  margin: 0px;
  font-size: 48px;
  font-family: 'Dynalight', sans-serif; 
}



h2 {
font-size: xx-large;
font-family: 'Lobster', cursive;
margin-bottom: 0px;
}

p {
  margin-top: 4px;
  font-size: large;
}

body {

}

a > img {
  border: 3px solid #0066cc; 
}


a > img:hover { 
  border: 3px solid #ffcc00; 
} 


footer {
  background-color: #0066cc;
}

footer > nav {
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #ff9900;
  font-weight: bold;
}


a:hover {
  color: #ffcc00;
  font-weight: 200%;
}

a {
  font-weight: 200%;
}

section#content {
  margin-top: 16px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 128px;
}


.show {
	margin-top: 5px;
	margin-bottom: 20px;
}

.show > a {
        font-size: 32px;
	margin: 0px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:  bold;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.38);

}

.show > .name {
        font-size: 32px;
	margin: 0px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:  bold;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.38);

}


.show > .details  {
	margin-left: 24px;
}



.show > .details > div {
	margin: 0px;
}


.show > .details > .venue {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  font-size: 24px;
}

.show > .details > .city {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  }

.datetime {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
    font-style: italic;
}



