
* {
  margin: 0;
}

body {
  font: 1em/1.125 trebuchet ms, verdana, sans-serif;
  text-align: center;
}

article {
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em;
  line-height: 2;
}

section {
  --dots: radial-gradient(circle, #0000, #fff) 0 0/3px 3px round;
}

h4 {
  font-size: 1.25em;
  text-transform: uppercase;
}
@media (min-width: 60.5em) {
  h4 {
    grid-row: 1;
  }
}

div {
  width: 700px;
  height: 500px;
  background: var(--lyr0, var(--img)) var(--sep,  ) var(--lyr1,  );
}

.halftone {
  --lyr1: var(--dots);
  overflow: hidden;
  filter: contrast(6);
}

.noproc {
  --img: url(images/scott.png) 50%/cover;
}
.noproc .halftone {
  --sep: ,;
  background-blend-mode: screen;
}

.filter {
  --img: url(https://assets.codepen.io/2017/portrait_tiger.jpg) 50%/cover;
}
.filter .halftone {
  --lyr0:  ;
  position: relative;
}
.filter .halftone::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--img);
  filter: blur(3px) brightness(1.15) grayscale(1);
  mix-blend-mode: screen;
  content: "";
}
