



.article-img{
  width: 480px;
  height: 520px;
}

#projects > img {
  width: 480px;
  height: 96px;
}


section#content {
  margin-top: 16px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-height: 915px) and (orientation: portrait)
{
	a > img {
		width: 100%
	}

.article-img{
  width: 100%;
  object-fit: scale-down;
}


	header > div > img {
		width: 95%;
    margin-left: auto;
    margin-right: auto;

	}

  section#content {
    width: 95%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
  }

}




