section#content {
  margin-top: 16px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

figure.title {
  margin: 0px;
}

h1  {
  font-family: 'Aldrich', sans-serif; 
  font-size: 32px;
  margin: 0px;
  margin-top: 8px;
  text-align: center;
}

figure.title > img{
  width: 960px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

  section#content {
    width: 95%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px;
  }


}




