/* Profile CSS Document */	
	
	.section {border:0;}
    .heading {background:none; color:inherit;}
	#wrap, #header, #topnav, #footer {background:none;}
	
	#mainLayout {background:inherit; color:inherit;}
 	#mainLayout {margin-left:20px;}
	*html #mainLayout {margin-left:22px;}
	#mainLayout td {padding-right:15px;}
	
	#profile_networking .cols th{width:100%;}

    #profile_contact a {display:block;}

	#mainLayout, #mainLayout td {vertical-align:top;}
	#mainLayout {border-collapse:separate; margin-top:5px;}
	
	#profile_schools .cols th, #profile_companies .cols th {width:auto;}
	#profile_schools .cols td, #profile_companies .cols td {width:50px; text-align:center;}
	
	#profile_info .heading {font-size:155%; font-weight:bold; padding-left:0;}
    #profile_info_image, #profile_info_content {float:left;}
    #profile_info_image {width:175px;}
    #profile_info_content {width:115px;}
	#profile_info_image img {margin-bottom:20px;}

  	#profile_blog_subjects {list-style:none; margin:0; padding:0;}
	
	#profile_calendar .cols th {width:125px;}
	#profile_contact img{vertical-align:middle;}
	#profile_contact a {float:left; width:49%; font-size:80%;}
	.friend {float:left; width:108px; margin-bottom:10px; text-align:center;}
	*html .friend {display:inline;}
	#profile_network {text-align:center; font-weight:bold; padding:5px 0;}
	
	.advertiserProfile #header {height:auto;}

/*
     FILE ARCHIVED ON 14:06:08 Aug 31, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:38:37 Jun 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 60.34
  exclusion.robots: 0.038
  exclusion.robots.policy: 0.022
  esindex: 0.016
  cdx.remote: 153.995
  LoadShardBlock: 1513.352 (6)
  PetaboxLoader3.datanode: 936.13 (7)
  PetaboxLoader3.resolve: 621.071 (2)
  load_resource: 385.203
*/